<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>안녕!</h1>
    <table>
      <tr>
        <th>id</th>
        <th>제목</th>
      </tr>
      {% for a in article %}
      <tr>
        <td>{{ a.pk }}</td>
        <td>{{ a.title }}</td>
      </tr>
      {% endfor %}
    </table>
    <form action="/articles/create/">
    <input type="submit" value="글 작성하기">
    </form>
</body>
</html>