{% extends 'articles/base.html' %}
{% block body %}
<div class="m-2">
    <h1 class="mb-3">Django!</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
    </tr>
  </thead>
  <tbody>
    {% for a in article %}
    <tr>
      <th scope="row">{{ a.pk }}</th>
      <td><a href="/articles/{{ a.pk }}/detail/">{{ a.title }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="d-flex justify-content-end mr-2"><a href="/articles/create/" role="button" class="btn btn-outline-secondary">글 작성하기</a></div>
</div>
{% endblock %}
