<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/articles/{{ article.pk }}/read_update/">
    <input type="text" name="title" value={{ article.title }}><br>
    <textarea name="content" cols="30" rows="10">{{ article.content }}</textarea><br>
    <input type="submit" value="수정">
    </form>
</body>
</html>